/* #region utilities */

:root {
    --app-back: linear-gradient(to bottom, #7FDBFF, #f5f5f5);
    --app-back-1: #7FDBFF;
    --app-back-2: #f5f5f5;
    --app-primary: #f9f9f9;
    --app-secondary: #FFDC00;
    --app-text: #4242db;
    --app-icon: #FFA500;

    /* color weather */
    --app-sun: #FFD700;
    --app-clear: #87CEEB;
    --app-clouds: #CCCCCC;
    --app-fog: #D3D3D3;
    --app-rain: #4682B4;
    --app-lightning: #FFA500;
    --app-storm: #2F4F4F;
    --app-snow: #FFFFFF;
}

/* #endregion utilities */

/* #region commons */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-style: normal;

}

body {
    background: var(--app-back);
    background-repeat: no-repeat;
    height: 100vh;
}

.panel {
    background-color: var(--app-primary);
    border-radius: 2rem;
    padding: 2rem;
    box-shadow: 5px 10px 8px #adadad;
    max-width: 60rem;
    margin: auto;
}

/* #endregion commons */

/* #region app_header */

#app_header>.panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.title {
    color: var(--app-text);
    margin: 0;
    font-size: 2.2rem;
    font-weight: 500;
    text-transform: uppercase;
}

.logo {
    height: 5rem;
}

/* #endregion app_header */

/* #region app_main */
/* #endregion app_main */